/*Table formatting for each of the pages*/
#my-form{
    background-color:#F2F7F9;
    width: 465px;
    height: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 10px;
    margin: 50px auto;    
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius: 15px;
    position: relative;
}
#my-form th{
font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;	
font-weight: normal;
font-size: 2.15em;
letter-spacing: .2em;
text-align: left;
text-transform: uppercase;
}
#my-form label{

float: left;
font-size: x-large;
font-weight: bold;
color: grey;
margin-top: 20px;
margin-bottom: 20px;

}
#my-form select{
    position: absolute;
    left: 20px;
    top: 118px;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px;
   
    width:200px; 
    text-overflow:ellipsis;
    white-space:pre;
}

#my-form input, textarea{
    font-size: 15px;  
    width: 450px;
    border: 1px solid #CEE1E8;
    margin-bottom: 20px;  
    padding: 4px;
}
#my-form input:focus, 
#my-form select:focus, 
#my-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}
#my-form textarea{
   height: 150px;
   resize: none;
}
#buttonA, #buttonB{
/*define specific properties for the input fields with the class name of description */

    font-size: 20px;
    padding: 4px 2px;
    border: solid 2px black;
    width: 150px;
    height: 50px; 
}
#buttonA{
    float: left; 
    margin-left: 40px;
}
#buttonB{
    float: right;
    margin-right: 40px;
}
#buttonA, #buttonB {
    border: 2px solid #264d63;
    background: #0564a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#c3d1db), to(#0564a3));
    background: -webkit-linear-gradient(top, #c3d1db, #0564a3);
    background: -moz-linear-gradient(top, #c3d1db, #0564a3);
    background: -ms-linear-gradient(top, #c3d1db, #0564a3);
    background: -o-linear-gradient(top, #c3d1db, #0564a3);
    background-image: -ms-linear-gradient(top, #c3d1db 0%, #0564a3 100%);
    padding: 13px 26px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
     border-radius: 24px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #2a5775;
    font-size: 20px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
   }
#buttonA:hover, #buttonB:hover {
    border: 2px solid #418a50;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    color: #fff;
   }
#buttonA:active, #buttonB:active {
    text-shadow: #1e4158 0 1px 0;
    border: 2px solid #0a3c59;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
    color: #fff;
   }
.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
}